
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-info">
    <a href="/" class="navbar-brand">Missing Persons Portal</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse4">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse4">
        <div class="navbar-nav">
          <a href="/" class="nav-item nav-link">Home</a>
          <a href="/userBlogs" class="nav-item nav-link">Blog</a>
          <a href="/cases" class="nav-item nav-link active">Cases</a>
          <a href="/UserCaseStudies" class="nav-item nav-link">Case Studies</a>
          <a href="/analytics" class="nav-item nav-link">Analytics Dashboard</a>

        </div>
        <ul class="nav navbar-nav ml-auto">
            <li>
                <a href="/addBlog" class="btn btn-light">
                    Add new Blog
                </a>
                <button class="btn btn-outline-light" onclick="window.location.href='/logout'">
                    <b>LOGOUT</b>
                </button>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid mb-5 mt-5">
    <div class='row mb-5'>

        {{#each allBlogs}}
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
            <div class="card bg-cust">
                <div class="card-body" style="text-align:center;">
                    <div class="mb-2 card-header" >
                        <h3 class="card-title">{{title}}</h3>
                    </div>
                    <p class="card-text">
                        {{content}}<br><br>
                        Scope - {{scope}}<br>
                    </p>
                    <a href='/blog/{{_id}}' class="btn btn-light">
                        Learn more
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <h2>No Blogs to display</h2>
        {{/each}}

    </div>
</div>
