
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-info">
    <a href="/" class="navbar-brand">Missing Persons Portal</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse4">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse4">
        <div class="navbar-nav">
            <a href="/" class="nav-item nav-link">Home</a>
            <a href="/userBlogs" class="nav-item nav-link">Blog</a>
            <a href="/cases" class="nav-item nav-link active">Cases</a>
            <a href="/UserCaseStudies" class="nav-item nav-link">Case Studies</a>

        </div>
        <ul class="nav navbar-nav ml-auto">
            <li>
                <a href="/addcase" class="btn btn-light">
                    Add new case
                </a>
                <button class="btn btn-outline-light" onclick="window.location.href='/logout">
                    <b>LOGOUT</b>
                </button>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid mb-5 mt-5">
    <div class='row mb-5'>
        <div class="input-group" style="margin:20px;">
            <input type="text" id="query" class="form-control" placeholder="Search from All Cases">
            <div class="input-group-append">
                <button onclick="search()" class="btn btn-info">
                    <i class= "fa fa-search"></i>
                </button>
            </div>
        </div>

        {{#each allCases}}
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
            <div class="card bg-cust1">
                <div class="card-body" style="text-align:center;">
                    {{#if victimImage}}
                    <img class="card-img-top mb-5" src="{{victimImage}}" alt="Card image cap">
                    {{else}}
                    <img class="card-img-top mb-5" src="/Images/missing.svg" width='150px' height='150px'
                        alt="Card image cap">
                    {{/if}}
                    <div class="mb-2 card-header">
                        <h3 class="card-title">{{victimName}}</h3>
                    </div>
                    <p class="card-text">
                        {{victimInfo}}<br>
                        {{victimAge}}<br>
                        {{victimGender}}
                    </p>
                    <a href='/cases/{{_id}}' class="btn btn-light">
                        Learn more
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <h2>No cases to display</h2>
        {{/each}}

    </div>
</div>
<script>
    function search() {
        window.location.href = '/search/'+document.getElementById('query').value
    }
</script>
